.notFoundSec {
  width: 90%;
  height: 82.5vh;
  text-align: center;
  background-image: url(../../images/background/otherBg/fashion_end_bg.webp);
  background-repeat: no-repeat;
  background-size: initial;
  margin: 50px 30px;
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    h2 {
      font-size: 45px;
      margin: 150px 0;
    }
  }
}
